body{
    overflow: hidden;
    background: url("https://xn----ctbfebbvt1a7am7h.xn--p1ai/assets/rain.jpg");
    background-size: auto;
}
.back4{
    position: absolute;
    top:0;
    left: 0;
    z-index: 1;
}
.main4{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-family: Montserrat, serif;
    text-align: center;
    color: #FFFFFF;
    background: rgba(217, 182, 0, 0.5);
}
.main4 h1{
    line-height: 80px;
    font-size: 60px;
    text-transform: uppercase;
    font-weight: normal;
}
.main4 h3{
    line-height: 27px;
    font-size: 20px;
    font-weight: 300;
}

@keyframes a {
    from {
        transform: rotateX(10deg) rotateY(0deg) rotateZ(0deg) scale(0.9);
    }
    50%{
        transform: rotateX(30deg) rotateY(360deg) rotateZ(10deg) scale(1.1);
    }
    to {
        transform: rotateX(10deg) rotateY(720deg) rotateZ(0deg) scale(0.9);
    }
}

.main4-img picture:nth-child(2) img{
    animation: a 18s infinite linear;
}

.header .tel{
    color: white;
}
.main4 .button4{
    display: flex;
    margin-top: 40px;
}
.main4 .a{
    width: 170px;
    height: 44px;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main4 a:nth-child(2){
    margin-left: 50px;
}
.main4 a:nth-child(2) .a{
    background: white;
    color: black;
}
.main4 a:nth-child(1):hover .a{
    background: white;
    color: black;
}
.main4 a:nth-child(2):hover .a{
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
.main4 a:nth-child(1):active .a{
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.main4 a:nth-child(2):active .a{
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}
.main4 .a:nth-child(2) a{
    color: black;
}
.main4 a{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: white;
}
@media (max-width: 1100px) {
    .main4 h1{
        line-height: 80px;
        font-size: 50px;
    }
}
@media (max-width: 900px) {
    .main4 h1{
        line-height: 80px;
        font-size: 40px;
    }
}
@media (max-width: 768px) {
    .main4 h1{
        line-height: 80px;
        font-size: 18px;
    }
}