@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Roboto&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Rubik:500&subset=cyrillic');
.header{
    margin: 0;
    padding: 50px 50px 16px;
    transition: all 0.1s;
    height: max-content;
}
.header a,.header a:hover,.header a:visited{
    color:#fff;
    text-decoration: none;
}
.header .logo a{
    display: flex;
    align-items: center;
}
.header .logo a:nth-child(1){
    margin-right: 25px;
}
.header .logo {
    display: flex;
    align-items: center;
}
.header .logo svg{
    display: block;
    margin-right: 10px;
}
.header.white{
    background:white;
}
.header-right{
    align-items: center;
}
.header .tel{
    color: #fff;
}
.menuFive span{
    background: #fff;
    transition: all 0.6s, background-color 0.1s;
}
.support{
    opacity: 0.5;
    transition: opacity 0.2s;
    width: 64px;
    height: 64px;
    border-radius: 32px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.support svg{
    transform: rotate(-90deg) translateX(2px) scale(3);
}
.support:hover{
    opacity: 1;
}
.webp .case1 .hero{
    background: #00b241 url("../assets/case1-back1.webp");
    background-size: cover;
}
.no-webp .case1 .hero{

    background: #00b241 url("../assets/case1-back1.png");
    background-size: cover;
}
.hero{
    width: 100%;
    height: 100vh;
    display: flex;
    min-height: 600px;
}
.hero-left{
    width: 53%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.hero-left picture{
    max-width: 100%;
}
.hero-left img{
    max-width: 95vw;
    width: 100%;
}
.case2 .hero-left img {
    padding-left: 80px;
    width: auto;
    height: 85vh;
    min-height: 500px;
}
.hero-right{
    width: calc(47% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 90px;
}
.hero-right h1, .hero-right h3{
    color: white;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    margin: 15px 0;
}
.hero-right h1{
    text-transform: uppercase;
    font-size: 60px;
}
.hero-right h3{
    font-size: 20px;
}
p{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;
}
.block{
    padding: 120px 50px;
}
.block-head{
    display: flex;
    padding-bottom: 60px;
}
.block-head h2{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;
    width: 15vw;
    margin: 0;
}
.block-head p{
    width: 40%;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    font-size: 16px;
    margin: 8px 0 0;
}
.block-head h2, .block-head p{
    display: inline;
    color: #555555;
}
.about-card{
    display: flex;
    height: 110px;
}
.about-card h2{
    width: 15vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    text-transform: uppercase;

    color: #555555;
}
.about-card p{
    width: 35vw;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 16px;

    color: #555555;
}
.about-card h2, .about-card p{
    display: inline-block;
}
.about{
    padding: 120px 0 120px 50px;
}
.about img{
    position: absolute;
    top:100vh;
    right: 0;
    width: 50vw;
}
.case1 .about-font{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 36px;
    text-transform: uppercase;
    color: #464646;
}
.case1 .about-font2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    margin-top: 15px;
    display: block;
}
.color span{
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 80px;
}
.case1 .color span:nth-child(1){
    background: #48CC57;
}
.case1 .color span:nth-child(2){
    background: #BAF191;
}
.case1 .color span:nth-child(3){
    background: #257A3C;
}
.case1 .color span:nth-child(4){
    background: #FFD8B2;
}
.case1 .block-2{
    background: #ffefe0;
}
.webp .case1 .block-1{
    background: #BAF191 url("../assets/case1-block1.webp") bottom no-repeat;
    background-size: 100%;
}
.no-webp .case1 .block-1{
    background: #BAF191 url("../assets/case1-block1.png") bottom no-repeat;
    background-size: 100%;
}
.case1 .block-1{
    height: calc(100vw / 1.7 - 245px);
}
.case1 .block-2, .case1 .block-4{
    padding-bottom: 10px;
}
.webp .case1 .block-3 {
    background: #53cb59 url(../assets/case1-block3.webp) bottom no-repeat;
    background-size: 100% auto;
}
.no-webp .case1 .block-3 {
    background: #53cb59 url(../assets/case1-block3.png) bottom no-repeat;
    background-size: 100% auto;
}
.case1 .block-4 {
    background: #e2fbc9;
}
.webp .case1 .block-5 {
    background: url(../assets/case1-block5.webp) bottom no-repeat;
    background-size: 100% auto;
}
.no-webp .case1 .block-5 {
    background: url(../assets/case1-block5.png) bottom no-repeat;
    background-size: 100% auto;
}
.webp .case1 .block-6 {
    background: url("../assets/case1-block6.webp") bottom no-repeat;
    background-size: cover;
}
.no-webp .case1 .block-6 {
    background: url("../assets/case1-block6.png") bottom no-repeat;
    background-size: cover;
}
.case1 .block-3{
    height: calc(100vw / 1.6806 - 245px);
}
.case1 .block-5{
    height: calc(100vw / 2.021 - 245px);
}
.block-body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.case1 .block-2 .block-body img, .case1 .block-4 .block-body img, .case2 .block-1 .block-body img{
    width: 100%;
}
.case1 .block-6 .block-body img, .case2 .block-6 .block-body img, .case2 .block-4 .block-body img, .case2 .block-3 .block-body img, .case2 .block-2 .block-body img{
    width: 80%;
}
.case1 .block-6 h2, .block-6 p, .case1 .block-3 h2, .block-3 p{
    color: white;
}
.block-7{
    padding: 120px 0 100px;
}
.case1 .block-7{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #FFEFE0;
}
.block-7 p{
    width: 80%;
    line-height: 1.5;
    max-width: 620px;
}
.block-8{
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    padding: 120px 0;
}
.block-8 a{
    padding: 12px 28px;
    color:#555;
    text-decoration: none;
}
.case1 .block-8 a{
    background: #53cb59;
    color:white;
}

/*************************************/
/*************************************/
/*************************************/

.webp .case2 .hero{
    background: #717171 url("../assets/case2-back1.webp");
    background-size: cover;
}
.no-webp .case2 .hero{
    background: #717171 url("../assets/case2-back1.png");
    background-size: cover;
}
.case2 .hero-left{
    background: #f6c119;
}
.case2 .about-font{
    font-family: 'Open Sans', serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 36px;
    text-transform: uppercase;
    color: #464646;
}
.case2 .about-font2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    margin-top: 15px;
    display: block;
}
.case2 .color span:nth-child(1){
    background: #F6C119;
}
.case2 .color span:nth-child(2){
    background: #4F4F4F;
}
.case2 .color span:nth-child(3){
    background: #1B1B1B;
}
.case2 .block-1 {
    background: #4F4F4F;
}
.case2 .block-1 .block-body{
    margin-top: -200px;
}
.webp .case2 .block-3 {
    background: #ffefe0 url("../assets/case2-back1.webp") bottom no-repeat;
    background-size: cover;
}
.no-webp .case2 .block-3 {
    background: #ffefe0 url("../assets/case2-back1.png") bottom no-repeat;
    background-size: cover;
}
.case2 .block-4 {
    background: #161616 url("../assets/case2-block4back.png");
}
.case2 .block-5 .block-body img, .case2 .block-1 .block-body img{
    width: calc(100% + 100px);
}
.case2 .block-5, .case2 .block-1{
    padding-bottom: 0 !important;
}
.case2 .block-2 {
    background: rgba(255, 200, 27, 0.51);
}
.case2 .block-5 {
    background: #fff;
}
.case2 .block-6 {
    background: #F6C119
}
.case2 .block-6 h2, .block-6 p, .case2 .block-1 h2, .case2 .block-1 p, .case2 .block-3 h2, .block-3 p, .case2 .block-4 h2, .case2 .block-4 p{
    color: white;
}
.case2 .block-7{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #FFEFE0;
}

.case2 .block-8 a{
    background: #F6C119;
}
/********************************/

.webp .case3 .hero{
    background: #717171 url("../assets/case3-back1.webp") center;
    background-size: cover;
}
.no-webp .case3 .hero{
    background: #717171 url("../assets/case3-back1.png") center;
    background-size: cover;
}
.case3 .hero-left img{
    width: 100%;
}
.case3 .about-font{
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 36px;
    color: #464646;
}
.case3 .about-font2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    margin-top: 15px;
    display: block;
}
.case3 .color span:nth-child(1){
    background: #FFB200;
}
.case3 .color span:nth-child(2){
    background: #444444;
}
.case3 .color span:nth-child(3){
    background: #222222;
}
.case3 .block-1 h2,.case3 .block-1 p, .case3 .block-3 h2,.case3 .block-3 p, .case3 .block-4 h2,.case3 .block-4 p{
    color: white;
}
.webp .case3 .block-1{
    background: #999DA0 url("../assets/case3-block1.webp") bottom no-repeat;
    background-size: 100%;
    height: calc(100vw / 1.897 );
    padding-bottom: 0;
}
.no-webp .case3 .block-1{
    background: #999DA0 url("../assets/case3-block1.png") bottom no-repeat;
    background-size: 100%;
    height: calc(100vw / 1.897);
    padding-bottom: 0;
}
.case3 .block-2{
    background: #FFB200;
    padding-bottom: 10px;
}
.case3 .block-2 img, .case3 .block-3 img{
    max-width: 100%;
}
.case3 .block-3{
    background: #444444;
}
.webp .case3 .block-4{
    background: #000 url("../assets/case3-block4.webp") right bottom no-repeat;
    background-size: 50%;
}
.no-webp .case3 .block-4{
    background: #000 url("../assets/case3-block4.png") right bottom no-repeat;
    background-size: 50%;
}
.case3 .block-4 .block-body{
    flex-wrap: wrap;
    justify-content: left;
    width: 60%;
}
.case3 .block-4 .block-body .block-4-card h3{
    color: white;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 20px;
}
.case3 .block-4 .block-body .block-4-card{
    width: 49%;
    margin-right: 1%;
}
.case3 .block-7{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #FFE4A5;
}

.case3 .block-8 a{
    background: #FFB200;
}
/***************************/


.webp .case4 .hero{
    background: #717171 url("../assets/case4-back1.webp") center;
    background-size: cover;
}
.no-webp .case4 .hero{
    background: #717171 url("../assets/case4-back1.png") center;
    background-size: cover;
}
.case4 .hero-left img{
    width: 100%;
}
.case4 .about-font{
    font-family: 'Rubik', serif;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    font-size: 36px;
    color: #464646;
}
.case4 .about-font2{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    margin-top: 15px;
    display: block;
}
.case4 .color span:nth-child(1){
    background: #E8A534;
}
.case4 .color span:nth-child(2){
    background: #262626;
}

.webp .case4 .block-1{
    background: #F7D294 url("../assets/case4-block1.webp") bottom no-repeat;
    background-size: 100%;
    height: calc(100vw / 1.897 );
    padding-bottom: 0;
}
.no-webp .case4 .block-1{
    background: #F7D294 url("../assets/case4-block1.png") bottom no-repeat;
    background-size: 100%;
    height: calc(100vw / 1.897);
    padding-bottom: 0;
}

.webp .case4 .block-2{
    background: #fff url("../assets/case4-block2.webp") center center no-repeat;
    background-size: cover;
}
.no-webp .case4 .block-2{
    background: #fff url("../assets/case4-block2.png") center center no-repeat;
    background-size: cover;
}
.case4 .block-2{
    height: calc(100vw / 1.897);
    display: flex;
    justify-content: center;
    align-items: center;
}
.case4 .block-2 h2{
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    line-height: 80px;
    font-size: 60px;
    text-align: center;
    text-transform: uppercase;
}
.case4 .block-3 img{
    width: 100%;
}
.case4 .block-3 h2, .case4 .block-3 p{
    color: white;
}
.case4 .block-3{
    background: #E8A534;
    padding-bottom: 10px;
}
.case4 .block-4 img{
    max-width: 100%;
}
.case4 .block-7{
    display: flex;
    justify-content: center;
    text-align: center;
    background: #262626;
    color: white;
}

.case4 .block-8 a{
    background: #E8A534;
}
/***************************/

.header .logo img{
    position: relative;
    bottom: 5px;
}

@media (max-width: 1800px) {
    .about img{
        width: 42vw;
    }
    .block-head h2{
        width: 25vw;
    }
    .webp .case1 .block-1{
        background: #BAF191 url("../assets/case1-block1.webp") top no-repeat;
        background-size: 100%;
    }
    .no-webp .case1 .block-1{
        background: #BAF191 url("../assets/case1-block1.png") top no-repeat;
        background-size: 100%;
    }
    .case1 .block-1{
        height: calc(100vw / 4 );
    }
    .case2 .block-1 .block-body{
        margin-top: -150px;
    }
}
@media (max-width: 1400px) {
    .about picture{
        display: none;
    }
    .about-card h2{
        width: 20vw;
    }
    .about-card p{
        width: 60vw;
    }
    .case3 .block-4 .block-body{
        width: 70%;
    }
    .case2 .block-1 .block-body{
        margin-top: -50px;
    }
}
@media (max-width: 1200px) {
    .hero-right h1{
        font-size: 49px;
    }
    .case3 .block-1{
        height: calc(100vw / 1.897 + 150px) !important;
    }
}
@media (max-width: 1000px) {
    .hero-right h1{
        font-size: 40px;
    }
    .about-card h2{
        width: 20%;
    }
    .about-card p{
        width: 70%;
    }
}
@media (max-width: 900px) {
    .case3 .block-1, .case4 .block-1{
        height: calc(100vw / 1.897 + 100px) !important;
    }

    .about-card{
        display: flex;
        height: auto;
    }
    .hero{
        height: max-content;
    }
    .hero-right h1{
        font-size: 18px;
    }
    .hero-right h3{
        font-size: 13px;
    }
    .hero-left{
        width: 100%;
        align-items: flex-end;
        padding-top: 130px;
        justify-content: center;
    }
    .hero-left picture{
        max-width: 600px;
    }
    .hero-left img{
        padding: 0;
        padding-left: 0;
    }
    .case2 .hero-left img {
        max-width: 95%;
        padding-left: 0;
        height: auto;
        min-height: 0;
    }
    .case2 .block-1 .block-body{
        margin-top: 0;
    }
    .hero-right{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .case1 .about picture, .block-head br{
        display: none;
    }
    .about{
        padding: 30px 15px;
    }
    .about-card, .block-head, .hero{
        flex-wrap: wrap;
    }
    .about-card h2{
        width: 100%;
        margin: 7px 0;
    }
    .about-card p{
        width: 100%;
        margin: 10px 0;
    }
    .color span{
        margin-right: 20px !important;
    }
    .block-head h2{
        width: 100%;
        line-height: 24px;
        font-size: 18px;
    }
    .block-head p{
        width: 100%;
        line-height: 18px;
        font-size: 12px;
    }
    .block{
        padding: 30px 15px;
    }

    .case2 .block-5 .block-body img, .case2 .block-1 .block-body img, .case3 .block-1 .block-body img{
        width: calc(100% + 30px);
    }
    .webp .case1 .block-1{
        background: #BAF191 url("../assets/case1-block1.webp") bottom no-repeat;
        background-size: 100%;
    }
    .no-webp .case1 .block-1{
        background: #BAF191 url("../assets/case1-block1.png") bottom no-repeat;
        background-size: 100%;
    }
    .case1 .block-1 {
        height: calc(100vw / 1.7 + 90px);
    }
    .case1 .block-3{
        height: calc(100vw / 1.6806);
    }
    .case1 .block-5{
        height: calc(100vw / 2.021 - 60px);
    }
    .case3 .block-4{
        background: #000;
    }
    .case3 .block-4 .block-body{
        width: 100%;
    }
    .case3 .block-4 .block-body .block-4-card{
        width: 100%;
    }
    .block-head{
        display: flex;
        padding-bottom: 15px;
    }
    .block-7, .block-8{
        padding: 40px 0;
    }
    .block-7 p{
        font-size: 12px;
    }
    .case4 .block-2{
        display: none;
    }
}
@media (max-width: 768px){
    .header {
        padding: 15px ;
        width: calc(100% - 30px);
    }
    .hero-left{
        padding-top: 70px;
    }
}